
<%= form_for(@booking, url: bookings_path, method: :post) do |f| %>



  <div class="form-inputs">
  <%= f.hidden_field :flight_id, :value => @flight.id %>
    <%= f.fields_for :passengers do |pass| %>
      <%= pass.label :name %> 
      <%= pass.text_field :name %><br /> 
      <%= pass.label :email %> 
      <%= pass.text_field :email %> 
    


  <% end %>

    </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
