helper params:

<%= params %>
<%= simple_form_for(@booking, url: bookings_path, method: :post) do |f| %>

  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
  <%= f.hidden_field :flight, value: params[:flight] %>
    <%= f.simple_fields_for :passengers do |passenger| %>
      <% @num_passengers.to_i.times do %>
        hello passenger
        <br />
      <% end %>
    <% end %>
    </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
