helper params:

<%= params %>
<%= simple_form_for(@booking, url: bookings_path, method: :post) do |f| %>

  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
  <%= f.input :flight, value: @flight %>
  <% @num_passengers.to_i.times do %>
    <%= f.input :passengers, label: "name" %>
  <% end %>

    </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
