<h1>New Booking</h1>

<%= render 'form', booking: @booking %>

<strong>Booking:</strong>

<%= params %>

    from: <%= @flight.from_airport.name %>
    to: <%= @flight.to_airport.name %>
    departing at: <%= @flight.departure_time %>
    number of passengers: 


<%= link_to 'Back', bookings_path %>
