<h1>New Booking</h1>

<%= render 'form', booking: @booking, flight: @flight %>

<strong>Booking:</strong>
Your Flight: 
<b><%= @flight.from_airport.name %></b>
to:
<b><%= @flight.to_airport.name %></b>
departing at:
<b><%= @flight.departure_time %></b>


<br /> 

<br />



<%= link_to 'Back', bookings_path %>
