<h3>Search</h3>

<table>
    <tr>
        <th>From: </th>
        <th>To: </th>
        <th>Date: </th>
        <th>Number of Passengers: </th>
    </tr>
    <tr>

        <%= simple_form_for(flight, url: flights_path, method: :get, local: true) do |f| %>
            <%= f.input :from_airport_id, collection: @airport_options %>
            <%= f.input :to_airport_id, collection: @airport_options %>
            <%= f.input :departure_time, collection: @flight_date_options %>
            
            <%= f.button :submit, 'Search' %>
        <% end %>

    </tr>

</table>