<p id="notice"><%= notice %></p>


<%= render 'search_form'  %>

<table class = 'table'>
  <thead>
  
  </thead>

  <tbody>


<br />
  <span>Flights</span>
  
    <% @flights.each do |flight| %>
      <tr>
        <td><%= button_to 'Book', 
        new_booking_path,
        method: :get,
        params: {:booking => {:flight_id => flight.id, :num_passengers => @num_passengers}}, :class => 'button' %></td>
        <td><b><%= flight.from_airport.name %></b>  to   <b><%= flight.to_airport.name %></b>  departing on: <%= flight.flight_date_formatted %> at: <b><%= flight.flight_time_formatted %></b></td>


      </tr>

    <% end %>


  </tbody>
</table>

<br>

<%= link_to 'New Flight', new_flight_path %>
